# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.VRFactoryCrime1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\VRFactoryCrime\.idea\.idea.VRFactoryCrime1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
